.link_active {
  list-style: none;
  text-decoration: none;
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 91px 15px 91px;
  font-size: 18px;
  font-weight: 400;
}

.header_menu {
  padding-left: 1px;
}

.links_list {
  display: flex;
  gap: 33px;
  text-transform: lowercase;
  padding-bottom: 6px;
  padding-left: 34px;
  list-style: none;
}

.links_list_item {
  position: relative;
}

.links_list_item::before {
  content: '○';
  position: absolute;
  left: -20px;
  top: 15%;
  color: rgb(0 0 0);
  font-size: 14px;
}

.links_list_item_no_bullit::before {
  content: none;
}

.header_logo {
  display: block;
  justify-self: center;
  align-self: center;
  width: 137px;
}

.header_logo_image {
  width: 100%;
}

.address {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  line-height: 1.35;
  padding-bottom: 9px;
  text-decoration: none;
  font-weight: 400;
}

.header_address {
  justify-self: end;
  margin-right: 35px;
  padding-top: 5px;
  max-width: 240px;
}

.address_item {
  font-size: 18px;
  line-height: 1.35;
  padding-right: 5px;
}

/* Конец шапки сайта */

/* Начало главной страницы сайта */

.cover {
  position: relative;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
  padding: 165px 50px 50px;
  z-index: 0;
}

.cover_title {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-weight: bold;
  font-size: 100px;
  letter-spacing: 30px;
  text-transform: uppercase;
  line-height: 115px;
  z-index: 2;
}

.aligned_text {
  display: block;
  color: rgb(255 255 255);
}

.aligned_text_start {
  text-align: start;
}

.aligned_text_center {
  text-align: center;
  padding-left: 30px;
}

.aligned_text_end {
  text-align: end;
}

.no_letter_spacing {
  letter-spacing: normal;
}

.overlay {
  position: absolute;
  background-size: cover;
  background-color: rgb(0 0 0 / 0.6);
  width: 100%;
  height: 100%;
  inset: 0; 
  z-index: 1;
}

.cover_description {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
  font-family: 'Raleway', 'Arial', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  z-index: 2;
  margin: 106px 0 0;
}

.cover_description_text {
  color: rgb(255 255 255);
  word-spacing: 20px;
  text-transform: uppercase;
}

.word_spacing_analogue {
  word-spacing: 18px;
}

.bet_button {
  border: 1px rgb(255 255 255) solid;
  background-color: transparent;
  padding: 12px 32px; 
  margin-left: auto;
  word-spacing: 1px;
  color: rgb(255 255 255);
  text-transform: uppercase;
}

.lots {
  padding: 180px 0 0 0;
}

.lots_title {
  padding: 0 0 27px 64px;
  font-weight: bold;
  font-size: 40px;
  line-height: 46px;
  text-transform: uppercase;
}

.lots_card_list {
  list-style: none;
  margin-left: 24px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  align-items: flex-start; 
}
  
.lots_card_list_item {
  width: 334px; 
  min-height: 563px;
  flex: 0 0 auto; 
}

.lots_card_list_item .card_link {
  display: block;
  height: 100%; 
  text-decoration: none;
  color: inherit;
}
  
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 596px; 
  padding: 51px 40px 47px;
  background-size: cover;
  background-position: center;
  height: 100%; 
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}
  
.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}
  
.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.lot_title {
  font-family: 'Raleway', 'Arial', sans-serif;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
}
  
.lot_text {
  font-family: 'Raleway', 'Arial', sans-serif;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
  font-weight: 400;
}

.lot_title, .lot_text {
  position: relative;
  z-index: 2;
  color: #fff;
}

.lots_look_more_link {
  display: block;
  margin: 31px 0 0 64px;
  font-size: 20px;
  border-bottom: 1px solid black; 
  width: fit-content;
}

/* Конец секции лотов */

/* Начало секции информации*/

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  column-gap: 25px;
  padding: 153px 24px 180px;
}

.about_column {
  justify-self: stretch;
}
  
.about_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000000;
  margin-left: 47px;
}
  
.about_logo_image {
  width: 148px;
}
  
.about_title {
  padding: 106px 0 75px;
  font-weight: bold;
  font-size: 40px;
  line-height: 1;
  text-transform: uppercase;
}
  
.about_text {
  font-size: 20px;
  padding-top: 26px;
  padding-right: 5px;
  line-height: 24px;
}

/* Конец секции информации*/

/* Начало футера */

.footer {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: start;
  padding-right: 50px;
  padding-left: 50px;
  margin-bottom: 73px;
}

.footer_menu, .footer_menu_list {
  text-align: center;
  list-style: none;
  font-family: 'Raleway', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-transform: lowercase;
}

.footer_menu_link {
  list-style: circle;
  border-bottom: 1px solid black; 
}

.footer_social_list {
  display: flex;
  gap: 48px;
  list-style: none;
  justify-content: end;
}

.footer_social_list_item {
  width: 48px;
}

.footer_address {
  justify-self: start;
  align-items: start;
  line-height: 24.3px;
  max-width: 242px;
}
